*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* definisce larghezza e margine di 1° e 2° wrapper e li centra */

.centratura-con{
    margin:20px auto;
    width: 60%;
    

}

/* proprietà primo wrapper */

/* .head-wrap{
    height: 100px;
    background-color: blueviolet;
} */

header > div > img{
    width: 100px;
    border-right: 2px solid lightgrey;
    
}

header nav a{
    text-decoration: none;
    color: lightgrey;
}

header nav li{
    display: inline-block;
    list-style: none;
    padding: 8px;
    text-transform: uppercase;
    
    
}

/* proprietà secondo wrapper */

.main-wrap1{
    height: 340px;
    background-image: url("img/banner.jpg");
    background-position: center;
    padding: 250px 15px 20px 20px;
    border-radius: 5px;

}
/* proprietà terzo wrapper */

/* .main-wrap2{
    height: 70px;
    background-color: rgb(43, 183, 226);
    margin-bottom: 0px; */


}
/* proprietà quarto wrapper */

.main-wrap3{
    height: 400px;
    background-color: rgb(2, 17, 231);
    margin-top: 0px;
    margin-bottom: 0px;
    
}

/* quadrati laterali */

.quadrato-laterale{
    width:20%;
    float: left;
    height: 380px;
    /* background-color: rgb(43, 183, 226); */
    
}

.main-wrap3 > div > .quadrato-laterale > img{
    width: 100%;
    border-radius: 5px;

}

.main-img{
    height: 200px;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    
}

/* quadrato centrale */

.quadrato-centrale{
    width:54%;
    float: left;
    height: 380px;
    /* background-color: rgb(43, 183, 226); */

}

.main-wrap3  div.main-img > img{
    width:100%;
    border-radius: 5px;
  
}

/* proprietà ultimo container */

.footer-wrap1{
    height: 50px;
    /* background-color: rgb(139, 2, 231); */
    margin-top: 5px;

}

footer{
    text-align: center;
}

.red-heart{
    color: red;
}

/* clearfix */

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

/* margin top 10px */

.marg-top{
    margin-top: 10px;
}

/* margin bottom 10px */

.marg-bottom{
    margin-bottom: 10px;
}

/* margin right 3% */

.marg-right{
    margin-right: 3%;
}



